@page "/collaborationRequest"

@using YoghurtBank.Services;
@using YoghurtBank.Infrastructure;

<PageTitle>Projects</PageTitle>

<h1>Send a collaboration request</h1>

<span style="display:inline-block; width: 500;"></span>

<h3>Project name:</h3>
<h3>Author: </h3>

<p>To send a collaboration request you have send make a motivation letter. In you motivation letter you have to 
    write why you would like to be a part of the project.  
</p>

<h2>Motivation letter</h2>

<textarea name="" id="" cols="30" rows="10"></textarea>
