@page "/collaborationRequest"

@using YoghurtBank.Services;

<PageTitle>CollaborationRequest</PageTitle>

<h1>Send a collaboration request</h1>

<span style="display:inline-block; width: 500;"></span>

<h3>Project name:</h3>
<h3>Author: </h3>

<h2>Motivation letter</h2>
<p>To send a collaboration request you have send make a motivation letter. In you motivation letter you have to 
    write why you would like to be a part of the project.  
</p>

<textarea name="" id="" cols="30" rows="10"></textarea>

<span style="display:inline-block; width: 100;"></span>

<label for="participants">Number of participants:</label>
<select name="participants" id="participants">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
</select>

<span style="display:inline-block; width: 100;"></span>

<button>Send your collaboration request</button>


