@page "/myCollabRequests"
@attribute [Authorize]
@inject HttpClient Http
@inject NavigationManager NavMan

<PageTitle>View My Collaboration Requests</PageTitle>
<h1>View your list of requests</h1>


<div>
    <label for="site-search">To see your list of requests, insert your id</label>
        <input type="search" id="site-search" name="q" aria-label="Search through site content">
    <button type="button" class="btn btn-primary" @onclick="FindMyRequests">Find my requests</button>
</div>

    
    @code {
    
    private CollaborationRequestDetailsDTO[]? requests;

    private async Task FindMyRequests()
    {
        var idFromField = ("site-search");
        Console.WriteLine(idFromField);

        <!--var test = Request.Form["site-search"].toString();-->

        requests = await Http.GetFromJsonAsync<CollaborationRequestDetailsDTO[]>($"https://localhost:7194/api/collaborationrequest/userId/{idFromField}");
        
        
        <!--collabs = aWait -->
    }
}
